<template>
  <q-page class="flex column justify-between">
    <span class="text-h6 self-center q-mt-md">Noch {{ timer }} Sekunden</span>
    <div class="col-grow q-ma-md relative-position playground" :style="playgroundStyle" ref="playground">
      <div :key="obj.id" v-for="obj in objects" :style="calcStyle(obj, width, height)" @click="removeObject(obj)" />
    </div>
    <q-btn class="q-ma-md" :disable="round > 0" @click="start">Start</q-btn>
    <div>
    </div>
    <q-dialog v-model="simulationCompleted" full-width persistent>
      <q-card>
        <q-card-section class="flex column justify-between">
          <apexchart type="bar" :options="chartOptions" :series="chartSeries" class="flex col-grow"></apexchart>
        </q-card-section>
        <q-card-actions align="center">
          <q-btn flat label="Reset" color="primary" @click="reset" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup>

import { computed, ref, watch } from "vue";
import { useElementSize } from "@vueuse/core";
import { v4 as uuid } from "uuid";
import { useQuasar } from "quasar";

const q = useQuasar();

const MIN_OBJECTS = 15;
const CHILDS_PER_OBJECT = 2;
const MAX_ROUNDS = 3;
const SECONDS_PER_ROUND = 20;
const OBJECT_SIZE = 13;

const COLORS = Object.freeze({
  LIGHT_CHIFFON: "#FFFACD",
  DARK_SALMON: "#E9967A",
  FIRE_BRICK: "#B22222",
  LAVENDER: "#6B8E23",
  LIME_GREEN: "#32CD32",
  DARK_GREEN: "#228B22",
  IVORY: "#8B4513"
});

const chartOptions = {
  chart: {
    id: "results",
    type: "bar"
  },
  plotOptions: {
    bar: {
      horizontal: false
    }
  }
};

const chartSeries = computed(() => {
  return [{
    data: [
      {
        x: COLORS.LIGHT_CHIFFON,
        y: color1Count.value.length,
        fillColor: COLORS.LIGHT_CHIFFON
      },
      {
        x: COLORS.DARK_SALMON,
        y: color2Count.value.length,
        fillColor: COLORS.DARK_SALMON
      },
      {
        x: COLORS.FIRE_BRICK,
        y: color3Count.value.length,
        fillColor: COLORS.FIRE_BRICK
      },
      {
        x: COLORS.LAVENDER,
        y: color4Count.value.length,
        fillColor: COLORS.LAVENDER
      },
      {
        x: COLORS.LIME_GREEN,
        y: color5Count.value.length,
        fillColor: COLORS.LIME_GREEN
      },
      {
        x: COLORS.DARK_GREEN,
        y: color6Count.value.length,
        fillColor: COLORS.DARK_GREEN
      },
      {
        x: COLORS.IVORY,
        y: color7Count.value.length,
        fillColor: COLORS.IVORY
      }
    ]
  }
  ];
});

const color1Count = computed(() => objects.value.filter(obj => obj.color === COLORS.LIGHT_CHIFFON));
const color2Count = computed(() => objects.value.filter(obj => obj.color === COLORS.DARK_SALMON));
const color3Count = computed(() => objects.value.filter(obj => obj.color === COLORS.FIRE_BRICK));
const color4Count = computed(() => objects.value.filter(obj => obj.color === COLORS.LAVENDER));
const color5Count = computed(() => objects.value.filter(obj => obj.color === COLORS.LIME_GREEN));
const color6Count = computed(() => objects.value.filter(obj => obj.color === COLORS.DARK_GREEN));
const color7Count = computed(() => objects.value.filter(obj => obj.color === COLORS.IVORY));

const playgroundStyle = {
  backgroundImage: "url(/texture-grass-field.jpeg)",
  backgroundSize: "cover"
};

function randomColor() {
  const keys = Object.keys(COLORS);
  return COLORS[keys[Math.floor(Math.random() * keys?.length)]];
}

const playground = ref(null);
const { width, height } = useElementSize(playground);

let timerInterval = null;
const timer = ref(0);
const objects = ref([]);
const showCircles = ref(false);

const round = ref(0);
const objectCount = computed(() => objects.value?.length);
const roundCompleted = computed(() => (timer.value <= 0 || objectCount.value <= MIN_OBJECTS));

const simulationCompleted = ref(false);

watch(timer, (timer) => {
  if (timer <= 0) {
    clearInterval(timerInterval);
  }
});

watch([round, roundCompleted], ([newRound, newRoundCompleted]) => {
  if (newRound === 0 || !newRoundCompleted) {
    return;
  }

  clearInterval(timerInterval);
  showCircles.value = true;
  if (newRound < MAX_ROUNDS) {
    q.dialog({
      title: `Runde ${newRound} beendet!`,
      message: `Die ${newRound}. Runde ist beendet. Die verbleibenden Schnecken bekommen Nachwuchs.`,
      persistent: true
    }).onOk(start);
  } else {
    simulationCompleted.value = true;
  }
});

function calcStyle(obj, width, height) {
  const maxX = width - OBJECT_SIZE;
  const maxY = height - OBJECT_SIZE;
  const outline = showCircles.value ? "5px solid yellow" : undefined;
  return {
    position: "absolute",
    backgroundColor: obj.color,
    width: OBJECT_SIZE.toString() + "px",
    height: OBJECT_SIZE.toString() + "px",
    left: Math.round(obj.x * maxX).toString() + "px",
    top: Math.round(obj.y * maxY).toString() + "px",
    borderRadius: "10px",
    cursor: "pointer",
    outline: outline,
    outlineOffset: "10px"
  };
}

function createObject(color) {
  return {
    id: uuid(),
    x: Math.random(),
    y: Math.random(),
    color: color,
    showCircle: false
  };
}

function addObjects(amount, color) {
  const newObjects = [...Array(amount)].map(() => createObject(color));
  objects.value = [
    ...objects.value,
    ...newObjects
  ];
}

function addRandomObjects(amount) {
  [...Array(amount)].forEach(() => {
    addObjects(1, randomColor());
  });
}

function breed() {
  objects.value.forEach(obj => {
    addObjects(CHILDS_PER_OBJECT, obj.color);
  });
  //shuffle
  objects.value = objects.value.map((obj) => {
    return {
      ...obj,
      x: Math.random(),
      y: Math.random()
    };
  });
}

function removeObject(object) {
  if (roundCompleted.value) {
    return;
  }
  objects.value = objects.value.filter(obj => object.id !== obj.id);
}

function startTimer() {
  clearInterval(timerInterval);
  timer.value = SECONDS_PER_ROUND;
  timerInterval = setInterval(() => {
    timer.value = timer.value - 1;
  }, 1000);
}

function start() {
  if (round.value === 0) {
    addRandomObjects(30);
  } else {
    breed();
  }
  round.value = round.value + 1;
  showCircles.value = false;
  startTimer();
}

function reset() {
  round.value = 0;
  objects.value = [];
  timer.value = 0;
  showCircles.value = false;
  simulationCompleted.value = false;
  clearInterval(timerInterval);
}

</script>
